name: tokensmith
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.12
  - pip
  - cmake
  - ninja
  - make
  - pkg-config
  - git

  # Use pip only for packages not in conda or needing special compilation
  - pip:
    - faiss-cpu
    - llama-cpp-python  # Needs CMAKE_ARGS for Metal/CUDA
    - pyyaml
    - tqdm
    - nltk
    - transformers
    - sentence-transformers
    - rank_bm25
    - langchain
    - langchain_text_splitters
    - google-genai
    - pytest
    - rich
    - langchain-text-splitters
    - fastapi
    - uvicorn
    - pydantic
    - docling
    - markdown